<!-- section is a meanigful container of information -->
<!-- helps search engines categorize the site -->

<section class="grid grid-cols-1 justify-items-center">
  <h1 class="col-span-1 lg:text-6xl font-sans-bold">Design solutions made easy</h1>
  <p class="col-span-1 font-sans lg:text-lg lg:w-32 lg:h-3.5">With over ten years experience in various design disciplines, I'm your one-stop shop for your design needs.</p>
</section>

<!-- <section class="grid lg:grid-cols-3 md:grid-cols-2">
  <div>
    large purple secion
  </div>
  <div>
    2 quarter 1 half section
  </div>
  <div>
    2 halfs section
  </div>
</section> -->